*{
    margin: 0px
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sedanbox{
    width: 280px;
    height: 450px;
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;
}
.suvbox{
    width: 280px;
    height: 450px;
    background-color: hsl(184, 100%, 22%);

}
.luxurybox{
    width: 280px;
    height: 450px;
    background-color: hsl(179, 100%, 13%);  
    border-radius: 0px 10px 10px 0px;
}
h1{
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
    text-align: left;
    margin: 35px;
    color:white;
    text-transform: uppercase;
}
p{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: left;
    margin: 35px;
    color:white;
}
button{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    margin: 35px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 0px;
}
button:hover{
    background-color: black;
}
.b1{
    color: hsl(31, 77%, 52%);
}
.b2{
    color: hsl(184, 100%, 22%);
}
.b3{
    color: hsl(179, 100%, 13%);  
}
img{
    margin-top: 40px;
    margin-left: 35px;
    width: 50px;
}

